sudo: false
language: node_js
node_js:
  - 'iojs'
before_install:
  - npm install -g npm@3
script: npm run-script ci
cache:
  directories:
    - node_modules
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"

env:
  - DEBUG=* MONGODB_VERSION=2.6.x
  - DEBUG=* MONGODB_VERSION=3.0.x
