sudo: false
language: node_js
node_js:
  - 10.2.1
  - 8
before_install:
  - npm i -g npm
script:
  - npm test
cache:
  directories:
    - '$HOME/.npm'
env:
  - DEBUG=mon* MONGODB_VERSION=stable
  - DEBUG=mon* MONGODB_VERSION=unstable
